.nav-header {
  padding: 9px 15px 9px 15px;
  height: auto;
  position: fixed;
  top: env(safe-area-inset-top);
  left: 0;
  right: 0;
  z-index: 2;
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.03) !important;
  display: flex;
  align-items: center;
  background: var(--color-surface);

  .nav-top {
    position: relative;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;

    a {
      line-height: 28px;
      padding-left: 0;
      width: auto;
      text-align: left;
      align-items: center;
      margin-bottom: 0px;
      white-space: nowrap;

      &:hover {
        text-decoration: none;
        outline: none;
        color: #1e74fd;
      }
    }
  }

  .nav-menu {
    display: inline-block;
    border: 0;
    background-color: transparent !important;
    flex-shrink: 0;
    width: 27px;
    height: 27px;
    font-size: 0;
    position: relative;
    transition: all 0.25s ease;
    z-index: 1001;

    &:before {
      content: "";
      display: inline-block;
      width: 30px;
      height: 2px;
      top: 7px;
      right: 0;
      position: absolute;
      border-radius: 1px;
      background: #1b1d21;
      transition: all 0.25s;
    }
    &:after {
      content: "";
      display: inline-block;
      width: 22px;
      height: 2px;
      top: 18px;
      right: 0;
      position: absolute;
      border-radius: 1px;
      background: #1b1d21;
      transition: all 0.25s;
    }

    &.active {
      background-color: transparent;

      &:before {
        transform: translateY(8px) rotate(45deg);
      }
      &:after {
        transform: translateY(-8px) rotate(-45deg);
        top: 22px;
        width: 30px;
      }
    }
  }
  .menu-icon {
    display: none;

    .dot-count {
      position: absolute;
      top: 5px;
      right: 5px;
      border-radius: 5px;
      width: 7px;
      height: 7px;
      line-height: 15px;
      text-align: center;
      display: inline-block;
      font-size: 10px;
    }
  }
  .header-search {
    display: none;
  }
}

.badge {
  top: 25%;
  left: 80%;
}

.rounded-pill {
  border-radius: 50rem;
}
.dropdown-menu {
  position: absolute;
  top: 100%;
  z-index: 1000;
  display: none;
  min-width: 10rem;
  padding: 0.5rem 0;
  margin: 0;
  font-size: 1rem;
  color: #515184;
  text-align: left;
  list-style: none;
  background-color: var(--color-background);
  background-clip: padding-box;
  border: 1px solid rgba(0, 0, 0, 0.15);
  border-radius: 0.25rem;
}
.dropdown-menu-settings {
  visibility: hidden;
  opacity: 0;
  background-color: var(--color-background);
  width: 300px;
  padding: 25px 30px;
  box-shadow: 0px 15px 125px rgba(0, 0, 0, 0.22);
  border-radius: 6px;
  z-index: 999;
  border: 0;
  position: absolute;
  top: 100%;
  right: 0;
  text-align: left;
  transition: all 0.4s ease;
}
.card {
  position: relative;
  display: flex;
  flex-direction: column;
  min-width: 0;
  word-wrap: break-word;
  background-color: var(--color-background);
  background-clip: border-box;
  // border: 1px solid rgba(0, 0, 0, 0.125);
  margin: var(--spacing-xs) 0;
  gap: var(--spacing-xs);
  border-radius: 0.25rem;
}
.toggle {
  display: inline-block;
  vertical-align: middle;
  position: relative;
  box-sizing: border-box;
  align-self: center;
  user-select: none;
  cursor: pointer;

  input[type="checkbox"] {
    display: none;
  }
  .toggle-icon {
    z-index: 0;
    margin: 0;
    padding: 0;
    -webkit-appearance: none;
    appearance: none;
    border: none;
    position: relative;
    transition: 0.3s;
    box-sizing: border-box;
    display: block;
    cursor: pointer;
    width: calc(40px);
    height: calc(20px + 2px);
    border-radius: 20px;
    background: #eee;
  }
}
.toggle input[type="checkbox"]:checked + .toggle-icon {
  background: #ff3b30;
}
.toggle input[type="checkbox"]:checked + .toggle-icon:after {
  transform: translateX(20px);
}
.toggle input[type="checkbox"]:checked + .toggle-icon:before {
  opacity: 0;
}
.ms-auto {
  margin-left: auto !important;
}
.me-2 {
  margin-right: 0.5rem !important;
}
.bg-greylight {
  background-color: #f5f5f5 !important;
}
.btn-round-md {
  width: 45px;
  height: 45px;
  border-radius: 45px;
  display: inline-block;
  line-height: 45px !important;
  text-align: center;
}
.toggle .toggle-icon {
  z-index: 0;
  margin: 0;
  padding: 0;
  -webkit-appearance: none;
  appearance: none;
  border: none;
  position: relative;
  transition: 0.3s;
  box-sizing: border-box;
  display: block;
  cursor: pointer;
  width: calc(40px);
  height: calc(20px + 2px);
  border-radius: 20px;
  background: #eee;

  &:before {
    content: "";
    position: absolute;
    left: 2px;
    top: 2px;
    height: calc(20px - 4px);
    width: calc(20px - 4px);
    border-radius: 18px;
    box-sizing: border-box;
    background: #fff;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.3);
    z-index: 1;
    transition-duration: 0.3s;
    transform: scale(1);
  }
  &:after {
    height: calc(20px - 4px);
    width: calc(20px - 4px);
    top: 2px;
    left: 2px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.3);
    border-radius: calc(20px - 4px);
    background: #fff;
    position: absolute;
    z-index: 2;
    transform: translateX(0px);
    transition-duration: 0.3s;
    content: "";
  }
}
@media screen and (min-width: 1400px) {
  .nav-header {
    height: 80px;
    z-index: 3;

    .nav-top {
      width: inherit;
    }
    .nav--left {
      display: flex;
      //   flex-wrap: wrap;
      align-items: center;
      gap: var(--spacing-md);
    }
    .header-search {
      display: block;
    }
    .bg-grey {
      background-color: var(--bg-grey);
    }
    .input--recherche {
      width: 350px;
      padding-left: 3rem;
      padding-bottom: 0.5rem;
      padding-right: 1rem;
      padding-top: 0.5rem;
      border: 0;
      border-radius: 30px;
      font-size: 12px;
      line-height: 32px;
    }
    .form-group.icon-input {
      position: relative;
    }
    .form-group__icon {
      position: absolute;
      left: 15px;
      top: 14px;
    }
    .nav-center {
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      width: 100%;

      img {
        width: 30px;
        height: 30px;
      }

      .header-icon {
        width: 80px;
        padding: 5px 10px;
        display: flex;
        justify-content: center;
        border-radius: 5px;
      }
    }
    .menu-icon {
      display: flex;
      flex-wrap: wrap;
      position: relative;
    }
    .badge {
      top: 25%;
      left: 80%;
      display: inline-block;
      padding: 0.35em 0.65em;
      font-size: 0.75em;
      font-weight: 700;
      line-height: 1;
      color: #fff;
      text-align: center;
      white-space: nowrap;
      vertical-align: baseline;
    }
    .rounded-pill {
      border-radius: 50rem;
    }
    .bg-danger {
      background-color: #e50202;
    }
    .translate-middle {
      transform: translate(-50%, -50%);
    }
    .position-absolute {
      position: absolute;
    }
    .flex {
      display: flex;
      flex-wrap: wrap;
    }
    img.w40 {
      border-radius: 100px;
    }
    .w40 {
      width: 40px !important;
    }
    .mob-menu,
    .nav-menu {
      display: none;
    }
    .visually-hidden,
    .visually-hidden-focusable:not(:focus):not(:focus-within) {
      position: absolute !important;
      width: 1px !important;
      height: 1px !important;
      padding: 0 !important;
      margin: -1px !important;
      overflow: hidden !important;
      clip: rect(0, 0, 0, 0) !important;
      white-space: nowrap !important;
      border: 0 !important;
    }
    .p-2 {
      padding: 0.5rem !important;
    }
    .ms-3 {
      margin-left: 1rem !important;
    }
  }
  .dropdown-menu-settings {
    &.active {
      visibility: visible;
      opacity: 1;
    }
  }
}
