<div class="create__post">
  <div
    class="card w-100 shadow-xss rounded-xxl border-0 ps-4 pt-4 pe-4 pb-3 mb-3"
  >
    <div class="card-body p-0">
      <a href="#" class="card-body__icone"
        ><span class="icone">✏️</span>Create Post</a
      >
    </div>
    <div class="card-body p-0 mt-3 position-relative">
      <figure class="avatar position-absolute ms-2 mt-1 top-5">
        <img
          src="/assets/images/avatar/3.png"
          alt="image"
          class="shadow-sm rounded-circle w30"
        />
      </figure>
      <textarea
        name="message"
        class="h100 bor-0 w-100 rounded-xxl p-2 ps-5 font-xssss text-grey-500 fw-500 border-light-md theme-dark-bg"
        cols="30"
        rows="10"
        placeholder="What's on your mind?"
      ></textarea>
    </div>
    <div class="card-body card-body--activity d-flex p-0 mt-0">
      <a
        href="#"
        class="d-flex align-items-center font-xssss fw-600 ls-1 text-grey-700 text-dark pe-4"
        >🎥<span class="d-none-xs">Live Video</span></a
      >
      <a
        href="#"
        class="d-flex align-items-center font-xssss fw-600 ls-1 text-grey-700 text-dark pe-4"
        >🖼️<span class="d-none-xs">Photo/Video</span></a
      >
      <a
        href="#"
        class="d-flex align-items-center font-xssss fw-600 ls-1 text-grey-700 text-dark pe-4"
        >📷<span class="d-none-xs">Feeling/Activity</span></a
      >
      <a
        href="#"
        class="dropdownMenu4"
        id="dropdownMenu4"
        data-bs-toggle="dropdown"
        aria-expanded="false"
        (click)="toggleDropdown($event)"
        ><span class="dropdownMenu4__btn">...</span></a
      >
      <div
        class="dropdown-menu dropdown-menu-start p-4 rounded-xxl border-0 shadow-lg"
        aria-labelledby="dropdownMenu4"
        [class.show]="isDropdownShown"
      >
        <div class="card-body p-0 d-flex">
          <span>⏺️</span>
          <h4 class="fw-600 text-grey-900 font-xssss mt-0 me-4">
            Save Link
            <span class="d-block font-xsssss fw-500 mt-1 lh-3 text-grey-500"
              >Add this to your saved items</span
            >
          </h4>
        </div>
        <div class="card-body p-0 d-flex mt-2">
          <span>❗</span>
          <h4 class="fw-600 text-grey-900 font-xssss mt-0 me-4">
            Hide Post
            <span class="d-block font-xsssss fw-500 mt-1 lh-3 text-grey-500"
              >Save to your saved items</span
            >
          </h4>
        </div>
        <div class="card-body p-0 d-flex mt-2">
          <span>‼️</span>
          <h4 class="fw-600 text-grey-900 font-xssss mt-0 me-4">
            Hide all from Group
            <span class="d-block font-xsssss fw-500 mt-1 lh-3 text-grey-500"
              >Save to your saved items</span
            >
          </h4>
        </div>
        <div class="card-body p-0 d-flex mt-2">
          <span>🔒</span>
          <h4 class="fw-600 mb-0 text-grey-900 font-xssss mt-0 me-4">
            Unfollow Group
            <span class="d-block font-xsssss fw-500 mt-1 lh-3 text-grey-500"
              >Save to your saved items</span
            >
          </h4>
        </div>
      </div>
    </div>
  </div>
</div>
