// .feed-body {
//   visibility: hidden;
//   overflow: hidden;
//   height: 0;
// }
// .loaded .feed-body {
//   visibility: visible;
//   overflow: visible;
//   height: 100%;
// }

.row {
  --bs-gutter-x: 30px;
  --bs-gutter-y: 0;
  display: flex;
  flex-wrap: wrap;
  margin-top: calc(var(--bs-gutter-y) * -1);
  margin-right: calc(var(--bs-gutter-x) / -2);
  margin-left: calc(var(--bs-gutter-x) / -2);
}

.row > * {
  flex-shrink: 0;
  width: 100%;
  max-width: 100%;
  padding-right: calc(var(--bs-gutter-x) / 2);
  padding-left: calc(var(--bs-gutter-x) / 2);
  margin-top: var(--bs-gutter-y);
}

@media screen and (min-width: 1400px) {
  .feed-body {
    .col-xl-8 {
      flex: 0 0 auto;
      width: 66.6666666667%;
    }
    .col-xl-4 {
      flex: 0 0 auto;
      width: 33.3333333333%;
    }
  }
}
