<div class="preloader-wrap" *ngIf="showPreloader">
  <div class="box shimmer">
    <div class="lines">
      <div class="line s_shimmer"></div>
      <div class="line s_shimmer"></div>
      <div class="line s_shimmer"></div>
      <div class="line s_shimmer"></div>
    </div>
  </div>
  <div class="box shimmer mb-3">
    <div class="lines">
      <div class="line s_shimmer"></div>
      <div class="line s_shimmer"></div>
      <div class="line s_shimmer"></div>
      <div class="line s_shimmer"></div>
    </div>
  </div>
  <div class="box shimmer">
    <div class="lines">
      <div class="line s_shimmer"></div>
      <div class="line s_shimmer"></div>
      <div class="line s_shimmer"></div>
      <div class="line s_shimmer"></div>
    </div>
  </div>
</div>
