.scroll-bar {
  margin-left: 0px;
  overflow-y: scroll;
}

.navigation {
  position: fixed;
  top: 0;
  left: -320px;
  background-color: #fff;
  z-index: 1000;
  height: 100vh;
  width: 280px;
  padding-top: 0;
  overflow: hidden;
  //   background: transparent;
  transition: all 0.4s ease;
  box-shadow: 0 1rem 3rem rgba(0, 0, 0, 0.18);

  &.nav-active {
    left: 0;
    right: 0;
  }
}

.ps-0 {
  padding-left: 0;
}
.pe-0 {
  padding-right: 0;
}

.navigation .nav-content {
  width: 280px;
  transition: all 0.2s ease;
  padding-left: 15px;
  padding-right: 15px;
}

.navigation .nav-content ul li:not(.logo) a {
  display: flex;
  align-items: center;
  padding: 12px 15px 12px 15px;
  white-space: nowrap;
  position: relative;
  font-size: 15px;
  font-weight: 600;
  line-height: 28px;
  color: #888;
  height: 54px;
  display: flex;
  overflow: hidden;
  transition: all 0.2s ease;
  gap: var(--spacing-xs);
}

ul li img {
  border-radius: 100px;
}
.navigation .nav-content ul li:not(.logo) a span {
  font-size: 15px;
  font-weight: 600;
  line-height: 28px;
  color: #888;
  transition: all 0.2s ease;
  margin-right: auto;
  padding-right: 10px;
}
