<nav
  class="navigation scroll-bar"
  [class.nav-active]="isActive"
  [class.menu-active]="menuIsActive"
  [class.menu-current-color]="menuCurrentColor"
>
  <div class="container ps-0 pe-0">
    <div class="nav-content">
      <div class="nav-wrap pt-3 pb-1 mb-2 mt-2">
        <ul class="mb-1 top-content">
          <li>
            <a href="" class="nav-content-bttn open-font">
              <img src="../assets/images/avatar/1.png" width="50" alt="" />
              <span>AKPOLI Espero </span></a
            >
          </li>
          <li class="logo d-none d-xl-block d-lg-block"></li>
          <li>
            <a href="" class="nav-content-bttn open-font">
              <img src="../assets/images/icon/amis.png" width="50" alt="" />
              <span>Amis</span></a
            >
          </li>
          <li>
            <a href="#" class="nav-content-bttn open-font">
              <img src="../assets/images/icon/groupe.png" width="50" alt="" />
              <span>Groupes</span>
            </a>
          </li>
          <li>
            <a href="" class="nav-content-bttn open-font">
              <img src="../assets/images/icon/watch.png" width="50" alt="" />
              <span>Pages</span>
            </a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</nav>
