.scroll-bar {
  margin-left: 0px;
  overflow-y: scroll;
}

[data-theme="dark"] .navigation {
  background-color: var(--color-surface);
}

.navigation {
  position: fixed;
  top: 0;
  left: -320px;
  background-color: #fff;
  z-index: 2;
  height: 100vh;
  width: 16rem;
  padding-top: 0;
  overflow: hidden;
  //   background: transparent;
  transition: all 0.4s ease;
  box-shadow: 0 1rem 3rem rgba(0, 0, 0, 0.18);

  &.nav-active {
    left: 0;
    right: 0;
  }

  &.menu-active {
    width: 100px;
  }
}

.ps-0 {
  padding-left: 0;
}
.pe-0 {
  padding-right: 0;
}

.navigation .nav-content {
  width: 260px;
  transition: all 0.2s ease;
  padding-left: 15px;
  padding-right: 15px;
}

.navigation .nav-content ul li:not(.logo) a {
  display: flex;
  align-items: center;
  padding: 12px 15px 12px 15px;
  white-space: nowrap;
  position: relative;
  font-size: 15px;
  font-weight: 600;
  line-height: 28px;
  color: #888;
  height: 54px;
  display: flex;
  overflow: hidden;
  transition: all 0.2s ease;
  gap: var(--spacing-md);
}

.navigation.menu-current-color .nav-top a .logo-text,
.navigation.menu-current-color .nav-content ul li:not(.logo) a i,
.navigation.menu-current-color .nav-content ul li:not(.logo) a span {
  color: var(--menu-current-color);
}

ul li img {
  border-radius: 100px;
}
.navigation .nav-content ul li:not(.logo) a span {
  font-size: 15px;
  font-weight: 600;
  line-height: 28px;
  color: var(--color-text);
  transition: all 0.2s ease;
  margin-right: auto;
  padding-right: 10px;
}

@media screen and (min-width: 1400px) {
  .navigation {
    flex-shrink: 0;
    width: 280px;
    height: 100vh;
    overflow: hidden;
    background: transparent;
    background-color: var(--color-surface);
    transition: width 0.25s;
    padding-top: calc(90px + 6px);
    left: inherit;
    box-shadow: none;
  }
}
