.auth-page {
  height: calc(100vh - 32px);
  padding: 16px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  max-width: 600px;
  margin: auto;
}

.container__formulaire {
  display: none;
  margin-bottom: var(--spacing-sm);

  &.visible {
    display: block;
  }
}

.login__title {
  display: flex;
  flex-direction: column;
  gap: var(--spacing-sm);

  .title {
    text-align: center;
    margin-top: var(--spacing-md);
  }

  p {
    text-align: center;
  }
}

.formulaire,
.form__group--input,
.form__register,
.form__inline--date,
.form__select--date,
.form__inline--genre,
.form-register-infos {
  display: flex;
  flex-direction: column;
  gap: var(--spacing-sm);
}

.input {
  color: rgb(70, 90, 105);
  display: inline;
  font-size: 16px;
  padding: 10px 16px;
  cursor: pointer;
  background: rgb(255, 255, 255);
  border: var(--border-width) solid var(--border-color);
  border-radius: 12px;
  width: 100%;
  height: 60px;
  box-sizing: border-box;
}

.btn {
  height: 44px;
  width: 100%;
  min-width: 44px;
  padding-left: 20px;
  padding-right: 20px;
  color: var(--color-text);
  background: var(--color-primary);
  border: 0px solid var(--border-color);
  border-radius: 22px;
  font-size: var(--font-size-large);
  font-weight: bold;

  &--secondary,
  &--close {
    height: 36px;
    min-width: 36px;
    flex-grow: 1;
    padding-left: 20px;
    padding-right: 20px;
    background: rgba(255, 255, 255, 0);
    border: 1px solid rgb(203, 210, 217);
    border-radius: 18px;
    font-weight: inherit;
  }
}

.divider {
  display: flex;
  align-items: center;

  &:before,
  &:after {
    background: #ccd0d5;
    content: "";
    height: 1px;
    // position: absolute;
    // top: 50%;
    width: 100%;
    display: block;
  }
  &:before {
    margin-right: 15px;
  }
  &:after {
    margin-left: 15px;
  }
}

.container__compte--creer {
  display: flex;
  flex-direction: column;
  gap: var(--spacing-sm);
  margin-bottom: var(--spacing-sm);
}

.copyright__text,
.form__infos {
  text-align: center;
  font-size: var(--font-size-small);
}

.form__infos {
  .form__lien {
    color: var(--color-text-min);
  }
}

.invisible {
  display: none;
}

.pageFooter {
  padding: var(--spacing-md) 0;
}

.form__register {
  margin: var(--spacing-lg) 0;
}

.form__select--date {
  flex-direction: row;
}

.btn--close {
  width: fit-content;
  align-self: end;
}

@media screen and (min-width: 1400px) {
  .auth-page {
    max-width: 1400px;
    display: grid;
    grid-template-columns: repeat(9, 1fr);
    gap: var(--spacing-md);
    padding: var(--spacing-xl);

    .auth-page__login {
      grid-column-start: 1;
      grid-column-end: 6;
    }
    .pageFooter {
      grid-column-start: 1;
      grid-column-end: -1;
    }
    .formulaire,
    .container__compte--creer,
    .container__formulaire {
      grid-column-start: 6;
      grid-column-end: -1;
    }
    .form__inline--genre {
      flex-direction: row;
    }
  }
}
