<div class="story">
  <div
    class="card w-100 shadow-none bg-transparent bg-transparent-card border-0 p-0 mb-0"
  >
    <div class="owl-carousel category-card owl-theme overflow-hidden nav-none">
      <div class="item">
        <div
          class="card w125 h200 d-block border-0 shadow-none rounded-xxxl bg-dark overflow-hidden mb-3 mt-3"
        >
          <div
            class="card-body d-block p-3 w-100 position-absolute bottom-0 text-center"
          >
            <a href="#" data-target="#Modalstries" data-toggle="modal">
              <span class="btn-round-lg bg-white">➕</span>
              <div class="clearfix"></div>
              <h4
                class="fw-700 position-relative z-index-1 ls-1 font-xssss text-white mt-2 mb-1"
              >
                Add Story
              </h4>
            </a>
          </div>
        </div>
      </div>
      <div class="item">
        <div
          class="card w125 h200 d-block border-0 shadow-xss rounded-xxxl bg-gradiant-bottom overflow-hidden mb-3 mt-3"
          style="
            background-image: url(/assets/images/avatar/5.png);
            background-size: cover;
            background-repeat: no-repeat;
          "
        >
          <div
            class="card-body d-block p-3 w-100 position-absolute bottom-0 text-center"
          >
            <a href="#" data-target="#Modalstries" data-toggle="modal">
              <figure
                class="avatar ms-auto me-auto mb-0 position-relative w50 z-index-1"
              >
                <img
                  src="/assets/images/avatar/3.png"
                  alt="image"
                  class="float-right p-0 bg-white rounded-circle w-100 shadow-xss"
                />
              </figure>
              <div class="clearfix"></div>
              <h4
                class="fw-600 position-relative z-index-1 ls-1 font-xssss text-white mt-2 mb-1"
              >
                Victor Exrixon
              </h4>
            </a>
          </div>
        </div>
      </div>
      <div class="item">
        <div
          class="card w125 h200 d-block border-0 shadow-xss rounded-xxxl bg-gradiant-bottom overflow-hidden mb-3 mt-3"
          style="
            background-image: url(/assets/images/avatar/6.png);
            background-size: cover;
            background-repeat: no-repeat;
          "
        >
          <div
            class="card-body d-block p-3 w-100 position-absolute bottom-0 text-center"
          >
            <a href="#" data-target="#Modalstries" data-toggle="modal">
              <figure
                class="avatar ms-auto me-auto mb-0 position-relative w50 z-index-1"
              >
                <img
                  src="/assets/images/avatar/3.png"
                  alt="image"
                  class="float-right p-0 bg-white rounded-circle w-100 shadow-xss"
                />
              </figure>
              <div class="clearfix"></div>
              <h4
                class="fw-600 position-relative z-index-1 ls-1 font-xssss text-white mt-2 mb-1"
              >
                Surfiya Zakir
              </h4>
            </a>
          </div>
        </div>
      </div>
      <div class="item">
        <div
          class="card w125 h200 d-block border-0 shadow-xss rounded-xxxl bg-gradiant-bottom overflow-hidden mb-3 mt-3"
          style="
            background-image: url(/assets/images/avatar/1.png);
            background-size: cover;
            background-repeat: no-repeat;
          "
        >
          <div
            class="card-body d-block p-3 w-100 position-absolute bottom-0 text-center"
          >
            <a href="#" data-target="#Modalstries" data-toggle="modal">
              <figure
                class="avatar ms-auto me-auto mb-0 position-relative w50 z-index-1"
              >
                <img
                  src="/assets/images/avatar/3.png"
                  alt="image"
                  class="float-right p-0 bg-white rounded-circle w-100 shadow-xss"
                />
              </figure>
              <div class="clearfix"></div>
              <h4
                class="fw-600 position-relative z-index-1 ls-1 font-xssss text-white mt-2 mb-1"
              >
                David Goria
              </h4>
            </a>
          </div>
        </div>
      </div>
      <div class="item">
        <div
          class="card w125 h200 d-block border-0 shadow-xss rounded-xxxl bg-gradiant-bottom overflow-hidden mb-3 mt-3"
          style="background-image: url(https://via.placeholder.com/200x300.png)"
        >
          <div
            class="card-body d-block p-3 w-100 position-absolute bottom-0 text-center"
          >
            <a href="#" data-target="#Modalstries" data-toggle="modal">
              <figure
                class="avatar ms-auto me-auto mb-0 position-relative w50 z-index-1"
              >
                <img
                  src="/assets/images/avatar/3.png"
                  alt="image"
                  class="float-right p-0 bg-white rounded-circle w-100 shadow-xss"
                />
              </figure>
              <div class="clearfix"></div>
              <h4
                class="fw-600 position-relative z-index-1 ls-1 font-xssss text-white mt-2 mb-1"
              >
                David Goria
              </h4>
            </a>
          </div>
        </div>
      </div>
      <div class="item">
        <div
          class="card w125 h200 d-block border-0 shadow-xss rounded-xxxl bg-gradiant-bottom overflow-hidden mb-3 mt-3"
          style="background-image: url(https://via.placeholder.com/200x300.png)"
        >
          <div
            class="card-body d-block p-3 w-100 position-absolute bottom-0 text-center"
          >
            <a href="#" data-target="#Modalstries" data-toggle="modal">
              <figure
                class="avatar ms-auto me-auto mb-0 position-relative w50 z-index-1"
              >
                <img
                  src="/assets/images/avatar/3.png"
                  alt="image"
                  class="float-right p-0 bg-white rounded-circle w-100 shadow-xss"
                />
              </figure>
              <div class="clearfix"></div>
              <h4
                class="fw-600 position-relative z-index-1 ls-1 font-xssss text-white mt-2 mb-1"
              >
                David Goria
              </h4>
            </a>
          </div>
        </div>
      </div>
      <div class="item">
        <div
          class="card w125 h200 d-block border-0 shadow-xss rounded-xxxl bg-gradiant-bottom overflow-hidden mb-3 mt-3"
          style="background-image: url(https://via.placeholder.com/200x300.png)"
        >
          <div
            class="card-body d-block p-3 w-100 position-absolute bottom-0 text-center"
          >
            <a href="#" data-target="#Modalstries" data-toggle="modal">
              <figure
                class="avatar ms-auto me-auto mb-0 position-relative w50 z-index-1"
              >
                <img
                  src="/assets/images/avatar/3.png"
                  alt="image"
                  class="float-right p-0 bg-white rounded-circle w-100 shadow-xss"
                />
              </figure>
              <div class="clearfix"></div>
              <h4
                class="fw-600 position-relative z-index-1 ls-1 font-xssss text-white mt-2 mb-1"
              >
                Seary Victor
              </h4>
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
